@import "../css/hover.css";
@import "../css/normalize.css";
@import "../css/nulling-styles.css";
.news__title, .product__title {
  color: #292F36;
  text-align: center;
  font-family: DM Serif Display;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 62.5px;
  letter-spacing: 1px;
}

body {
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #4D5053;
}

.center {
  max-width: 1240px;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  margin: 0 auto;
}

.header {
  padding: 53px 0 96px 0;
}
.header__top {
  margin: 0 0 53px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__menu {
  max-width: 243px;
  width: 100%;
}
.header__menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__menu-link {
  color: #292F36;
  font-size: 20px;
  line-height: 25px;
}
.header__promo {
  background: url(../../img/header-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50px;
}
.header__promo-wrp {
  padding: 208px 0 208px 52px;
}
.header__promo-title {
  max-width: 434px;
  width: 100%;
  min-height: 162px;
  color: #292F36;
  font-family: DM Serif Display;
  font-size: 65px;
  font-style: normal;
  font-weight: 400;
  line-height: 81.25px;
  margin: 0 0 18px 0;
}
.header__promo-txt {
  max-width: 433px;
  width: 100%;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.22px;
  margin: 0 0 21px 0;
}
.header__btn {
  max-width: 220px;
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 18px;
  background: #292F36;
  box-shadow: 0px 10px 20px 0px rgba(192, 192, 192, 0.35);
  color: #FFF;
  font-size: 18px;
  font-weight: 600;
  line-height: 22.5px;
  letter-spacing: 0.36px;
}
.header__elem {
  width: 15px;
  height: 13px;
  background: url(../../img/next.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-left: 10px;
}

.logo {
  width: 177px;
  height: 50px;
}

.logo-link {
  display: block;
  width: 177px;
  height: 50px;
  background: url(../../img/Logo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.product {
  padding: 0 0 96px 0;
}
.product__title {
  max-width: 452px;
  width: 100%;
  margin: 0 auto 8px;
}
.product__txt {
  max-width: 737px;
  width: 100%;
  text-align: center;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.22px;
  margin: 0 auto 93px;
}
.product__images {
  max-width: 545px;
  width: 100%;
  max-height: 548px;
  margin: 0 0 24px 0;
}
.product__images img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 545px;
  width: 100%;
  max-height: 525px;
}
.product__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 99px;
       column-gap: 99px;
  row-gap: 56px;
}
.product__item-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 547px;
  width: 100%;
}
.product__item-info_title {
  color: #292F36;
  font-family: DM Serif Display;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 31.25px;
  letter-spacing: 0.5px;
  margin: 0 0 4px 0;
}
.product__item-info_txt {
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.22px;
}
.product__item-info_btn {
  width: 70px;
  height: 70px;
}
.product__item-info_link {
  width: 70px;
  height: 70px;
  display: block;
}

.advantages {
  background: #F4F0EC;
  padding: 151px 0 151px;
}
.advantages__wrp {
  max-width: 1082px;
  width: 100%;
}
.advantages__list {
  max-width: 1082px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.advantages__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.advantages__item:not(:last-child)::after {
  content: "";
  width: 1px;
  position: absolute;
  height: 130px;
  background: #CDA274;
  top: 18px;
  right: -64px;
}
.advantages__item span {
  color: #CDA274;
  font-family: DM Serif Display;
  font-size: 85px;
  font-style: normal;
  font-weight: 400;
  line-height: 106.25px;
  letter-spacing: 1.7px;
  margin: 0 0 16px 0;
}
.advantages__txt {
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.22px;
}

.news {
  padding: 96px 0 96px;
}
.news__title {
  margin: 0 auto 12px 0;
}
.news__txt {
  max-width: 811px;
  width: 100%;
  text-align: center;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.22px;
  margin: 0 auto 52px;
}
.news__info-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.news__info-item {
  max-width: 382px;
  width: 100%;
  border-radius: 62px;
  border: 1px solid #E7E7E7;
  box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25);
  padding: 21px;
}
.news__info-content {
  position: relative;
  margin: 0 0 20px 0;
}
.news__info-content_txt {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 124px;
  height: 41px;
  border-radius: 8px 8px 8px 0px;
  background: #FFF;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.16px;
  text-transform: capitalize;
  position: absolute;
  top: 231px;
  left: 19px;
}
.news__info-title {
  max-width: 305px;
  width: 100%;
  color: #292F36;
  font-family: DM Serif Display;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 31.25px;
  letter-spacing: 0.5px;
  margin: 0 0 39px 0;
}
.news__info-txt {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.16px;
  text-transform: capitalize;
}
.news__info-container {
  max-width: 340px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer {
  padding: 0 0 134px 0;
}
.footer__wrp {
  min-height: 272px;
  display: flex;
  justify-content: space-between;
}
.footer__info {
  max-width: 393px;
  width: 100%;
}
.footer__info-txt {
  max-width: 393px;
  width: 100%;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.22px;
  margin: 0 0 31px 0;
}
.footer__social {
  max-width: 225px;
  width: 100%;
}
.footer__social-list {
  display: flex;
  align-items: center;
  gap: 54px;
}
.footer__menu {
  max-width: 125px;
  width: 100%;
  min-height: 238px;
}
.footer__menu-list {
  max-width: 125px;
  width: 100%;
  min-height: 238px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__menu-title {
  color: #292F36;
  font-family: DM Serif Display;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 31.25px;
}
.footer__menu-link {
  color: #4D5053;
  font-size: 22px;
  line-height: 66px;
  letter-spacing: 0.22px;
}
.footer__contact {
  max-width: 258px;
  width: 100%;
  min-height: 272px;
}
.footer__contact-list {
  max-width: 258px;
  width: 100%;
  min-height: 272px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__contact-title {
  color: #292F36;
  font-family: DM Serif Display;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 31.25px;
}
.footer__contact-link {
  color: #4D5053;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.22px;
}

.logo-footer {
  margin: 0 0 18px 0;
}